pkg/
Gemfile.lock
Gemfile.local
vendor/
spec/fixtures/manifests/
spec/fixtures/modules/
log/
junit/
.vagrant/
.bundle/
.ruby-version
coverage/
log/
.idea/
.metadata
*.iml
.*.sw[op]
.yardoc
.yardwarns
.DS_Store
tmp/
vendor/
doc/
puppet-enterprise*.tar.gz

!spec/fixtures/
spec/fixtures/manifests/site.pp
spec/fixtures/modules/*
